.chooseItem {
    text-align: center;
    min-height: 100px;
    margin: 0 auto;
    .info {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 39px;
        color: #1A1A1A;
    }
    .warning {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 39px;
        color: #ff0000;
    }
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #1A1A1A;
    margin-left: 130px;
}
.chartsContainer {
    max-width: 1180px;
    margin: 50px auto;
}
