.item{
    width: 380px;
    height: 300px;
    text-align: center;
    border-radius: 32px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    margin-right: 20px;
}
.title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    padding-left: 32px;
    padding-right: 32px;
    color: #7E7E7E;
}