.title {
    color: #1A1A1A;
    text-align: center;
    font-size: 32px;
    max-width: 580px;
    margin: 0 auto;
    padding:  0 50px 0 50px;
}

.text {
    font-size: 20px;
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
    color:#7E7E7E
}