.pagesItems {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #FFFFFF;
    padding: 2px;
    border: 2px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    margin: 4px;
    &:focus {
        outline: none;
    }
}
.selectedPage {
    color: white;
    background: #3A80BA;
}
.arrow {
    vertical-align: middle;
    margin-right: 24px;
    margin-left: 24px;
    &:focus {
        outline: none;
    }
}
