.contentMain {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 20px 130px 30px 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  background: linear-gradient(90.74deg, #255D8B 1.6%, #3A80BA 96.44%);
}

.content {
  padding: 20px 130px 10px 130px;
  background: #1C3B55;
}
