/*@font-face {
  font-family: Pompadur;
  src: url(src/assets/fonts)
}*/


.textBanner{
  max-width: 500px;
}
.text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.smallText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}
.lowerText{
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;

}
.button{
  width: 154px;
  height: 56px;
  left: 130px;
  top: 351px;
  background: #FFFFFF;
  border-radius: 8px;
  border-color: #FFFFFF;
  margin-top: 30px;
}